{% extends 'base.html' %}
{% load static %}
{% block title %} Street Sweeping: Contacts{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}
{% block content %}
    <style>
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="container mt-5">
        <div class="row mt-5">
        <div class="col-sm-6 col-xs-12 col-md-4 mb-5">
            <h6 class="">PHYSICAL ADDDRESS</h5>
            <div class="address mb-3">
                <small> beatsweeping.com</small>
            </div>
            <h6 class="">SOCIAL LINKS</h5>
            <div class="social-btns">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-md-4">
		<h6 class="">GET IN TOUCH</h6>
        <div class="contact-form">
            <form class="form-horizontal" action=""method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% comment %} {% if field.help_text %}
                        <small style="display: inline">{{ field.help_text }}</small>
                    {% endif %} {% endcomment %}
                    {% for error in field.errors %}
                        <p style="color: red" class="text-small">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn bg-brand mt-3">
                    <small>Send Mail</small>
                </button>
            </form>
        </div>
        </div>
        </div>
	</div>
{% endblock %}

{% block javascript %}
    <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");

        $('textarea').addClass("form-control form-control-sm");
    </script>
{% endblock %}