{% extends 'base.html' %}
{% block content %}
    <style>
        label, h6 {
            font-size:1rem;
            font-weight: 700;
            font-size: 0.9rem;
            color: #5a5a5a;
        }

        .address {
            font-size:1rem;
        }

        form > p {
            margin:0
        }

        .social-btns{
            margin-top: 1em;
        }
        .social-btns .fa {
            display: inline;
            padding: 10px;
            width: 20px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }

        .fa:hover {
            opacity: 0.7;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-google {
            background: #dd4b39;
            color: white;
        }

            .fa-linkedin {
            background: #007bb5;
            color: white;
            }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="container mt-5">
        <div class="row mt-5">
        <div class="col-sm-6 col-xs-12 col-md-4 mb-5">
            <h6 class="">PHYSICAL ADDDRESS</h5>
            <div class="address mb-3">
                <p class="small">123, Street Avenue <br>
                Atlanta, USA</p>
                <small> beatsweeping.com</small>
            </div>

            <h6 class="">SOCIAL LINKS</h5>
            <div class="social-btns">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-md-4">
		<h6 class="">GET IN TOUCH</h6>
        <div class="contact-form">
            <form class="form-horizontal" action=""method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% comment %} {% if field.help_text %}
                        <small style="display: inline">{{ field.help_text }}</small>
                    {% endif %} {% endcomment %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <button type="submit" class="btn bg-brand mt-3">
                    <small>Send Mail</small>
                </button>
            </form>
        </div>
        </div>
        </div>
	</div>
{% endblock %}

{% block javascript %}
    <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");

        $('textarea').addClass("form-control form-control-sm");
    </script>
{% endblock %}