{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset Confirm {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="container">
   
    <form method="post" class="login-form">
     <h5 class="title text-center"> Change password</h5>
      {% csrf_token %}
      {% for field in form %}
               <small>{{field.errors}}</small>
                  <div class="input-group input-group-sm my-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                {{ field.label }}
                            </span>
                        </div>
                        
                        {{ field }} 
                    </div>
      {% endfor %}

      <button type="submit" class="btn bg-brand mt-3">
        <small>Change password</small>
      </button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
  <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");


        var inputs = document.querySelectorAll("input:not([type='checkbox'])");
        inputs.forEach(input => {
          if(!input.classList.contains('form-control')){
              input.classList.add('form-control', 'form-control-sm');
              input.classList.add('form-control-sm');
          }
                        
        });
  </script>
{% endblock %}