{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  
  <form method="post" class="login-form">
    <h5 class="text-center"> Forgot Password</h5>
    {% csrf_token %}
    {% for field in form %}
      <small>{{field.errors}}</small>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              {{ field.label }}
            </span>
          </div>     
          {{ field }} 
      </div>
    {% endfor %}
    <div class="input-group input-group-sm my-3 submit-section">
      <button class="btn bg-brand w-50">
          <small>Submit</small>
      </button>
  </div>
  </form>
</div>
  <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");
    </script>
{% endblock %}