{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        padding-top:10vh;
        font-size:0.9rem;
        height:100vh;
    }

    form {
        margin:10px auto;
        box-shadow:0.1em 0.1em 0.4em #2b2a2add;
        padding:2em;
    }

    .submit-section {
        display: flex;
        justify-content: center;
    }
</style>
<div class="container">
  <h5 class="title text-center"> Forgot Password</h5>
  <form method="post" class="login-form">
    {% csrf_token %}
    {% for field in form %}
      <small>{{field.errors}}</small>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              {{ field.label }}
            </span>
          </div>     
          {{ field }} 
      </div>
    {% endfor %}
    <div class="input-group input-group-sm my-3 submit-section">
      <button class="btn cust-btn w-50">
          <small>Submit</small>
      </button>
  </div>
  </form>
</div>
  <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");
    </script>
{% endblock %}