{% extends 'base.html' %}

{% block content %}
  <div class="container card col-md-6 offset-2 mt-5">
    <p class="text-small">
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p class="text-small">
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
  </div>
  <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");
    </script>
{% endblock %}