{% extends 'base.html' %}
{% block styles %}
<style>
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %}
{% block content %}
  <div class="card mt-5 px-2 py-2">
    <p class="text-small">
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p class="text-small">
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
  </div>
{% endblock %}
{% block javascript %}
<script>
    $('.spinner-message').text("Saving data ..."); 
    $('.spinner-container').toggleClass("d-none");
</script>
{% endblock %}