{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        padding-top:10vh;
        font-size:0.9rem;
        height:100vh;
    }

    form {
        margin:10px auto;
        box-shadow:0.1em 0.1em 0.4em #2b2a2add;
        padding:2em;
    }


</style>
  {% if validlink %}
    <div class="container">
   
    <form method="post" class="login-form">
     <h5 class="title text-center"> Change password</h5>
      {% csrf_token %}
      {% for field in form %}
               <small>{{field.errors}}</small>
                  <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                {{ field.label }}
                            </span>
                        </div>
                        
                        {{ field }} 
                    </div>
      {% endfor %}

      <button type="submit" class="btn cust-btn mt-3">
        <small>Change password</small>
      </button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
  <script>
        $('.spinner-message').text("Saving data ..."); 
        $('.spinner-container').toggleClass("d-none");


        var inputs = document.querySelectorAll("input:not([type='checkbox'])");
        inputs.forEach(input => {
          if(!input.classList.contains('form-control')){
              input.classList.add('form-control', 'form-control-sm');
              input.classList.add('form-control-sm');
          }
                        
        });
  </script>
{% endblock %}