:root {
    --blue:#39a2bf;
    --brand-color:#39a2bf;
    --white:#fff;
    --black:#0c0c0c;
    --red:red;
    --bg-blue:rgba(0, 14, 95, 0.4);
}

body { 
    margin: 0; 
    padding: 0; 
    font-size:calc(0.7em + 1vw);
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,
                "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Navigation bar */
.navbar {
    padding: 0.3rem 0.3em;
    background: var(--blue);
    text-shadow: 2px 2px .1px black;
    font-style: italic;
    color:var(--white);
    position: fixed;
    width: 100vw;
    z-index: 3;
    opacity: 0.9;
    box-shadow: 2px 2px 0.3em rgb(61, 61, 61);
}


.navbar .navbar-toggler {
    /* margin: 0.2em 0.1em; */
    padding: 0.2em;
    color:var(--red);
    font-size:1.65rem;
}

.navbar .navbar-toggler {
    outline:1px var(--black);
}

.navbar
.navbar-brand {
    font-weight:800;
    color:var(--white);
    margin-right:3em;
}

.navbar-collapse {
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: #eaeaea;
    border-image: initial;
}

.navbar-nav li a {
    font-size: 1.0rem;
    text-shadow: 1px 1px 1px black;
}

p {
    color: black;
    border:1px; 
    border-style:solid; 
    border-color:#FFFFFF;
    box-shadow: 1.25px .7px 2px black;
    /*background-color: yellow;*/
    background: rgba(80, 115, 161, .4);
    /* rgba(51, 170, 51, .7) */
    padding: .5em;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    font-size: 1rem;
}

.box-shadow {
    box-shadow: 2px 2px 0.2em #ddd;
}

/* utilities */
.text-small {
    font-size: 0.8rem;
}

.bg-brand {
    background-color: var(--brand-color) !important;
}

.btn {
    border-radius:0;
    font-size:0.9rem;
    background-color:var(--blue);
    border:none;
    color:var(--white);
}

.cust-btn{
    position:relative;
}

.cust-btn::after {
    background-color:#2a758c;
    width:0;
    transition:0.4s;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:50%;
    right:50%;
    opacity:0;
}

.cust-btn:hover::after{
    width:100%;
    opacity:1;
    left:0%;
    right:0;
}

.cust-btn:hover {
    color:white;
}

.cust-btn > small {
    font-size: 90%;
    font-weight: 400;
    z-index: 2;
    position: relative;
}

/* Switch */
.switch {
    position:relative;
    height:23px;
    width:50px;
}

.switch input {
    height:0;
    width:0;
    opacity:0;
}

.slider {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#ccc;
    transition:0.4s;
    cursor:pointer;
    border-radius:30px;
}

.slider:before {
    position:absolute;
    content:"";
    height:18px;
    width:16px;
    left:4px;
    bottom:3px;
    transition:0.4s;
    background-color:white;
    border-radius:30px;
}

input:checked + .slider {
    background:var(--brand-color);
}

input:focus + .slider:before {
    box-shadow:0 0 1px var(--brand-color);
}

input:checked + .slider:before {
    transform:translateX(26px);
}

/* spinner */
.spinner-container {
    position: fixed;
    top:0%;
    bottom: 0%;
    left: 0;
    right:0;
    background-color: hsla(0, 0%, 6%, 0.96);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-box {
    width:3em;
    height:3em;
    background-color: hsla(180, 100%, 50%, 0.664);
    z-index: 4;
    border-radius:50%;
    transform-origin:50% 50%;
    animation-name:pulseAnimation;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-delay: .0s;
    animation-timing-function:linear;
}

.spinner-message {
    margin-top: 2em;
    z-index: 4;
    font-size: 1rem;
    color: white;
    font-style:italic;
}


@keyframes pulseAnimation {
    0% {
        opacity:0.7;
        transform: scale(0.1);
    }
    100%{
        opacity:0;
        transform: scale(2.2);
    }
}

@media(min-width: 50em) {
    .navbar {
        padding: 0 3em;
    }

    .spinner-box {
        left: 45%;
    }

    .spinner-message{
        left: 43%;
        top:54%;
    }

    .login-form {
        width:50%;
    }
    .navbar-collapse {
        border-width: 0px;
    }

    .side-panel {
        display:block;
    }

    .register-form {
        box-shadow:none;
        width:80%;
    }
    .button-section {
        margin:0;
    }
}