{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .container-fluid {
        font-size:1rem;
        overflow:hidden;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-md-6 side-panel">
            <h5 class="side-title">BEATSWEEPING</h5>

            {% comment %} Contant Information {% endcomment %}
        </div>

        <div class="col-md-6 col-xs-10">  
            <h4 class="text-center mt-3">Sign up</h4>
            <form method="post" class="register-form">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% comment %} {% if field.help_text %}
                        <small style="display: inline">{{ field.help_text }}</small>
                    {% endif %} {% endcomment %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <button type="submit" class="btn cust-btn">
                <small>Sign up</small>
                </button>
            </form>

            <section class="text-center">
                <p>Already have an Account ? <a href="{% url 'login' %}"> Login</a></p>
            </section>
        </div>
    </div>
</div>

<script>
    var inputs = document.querySelectorAll('input');
    inputs.forEach(input => {
        if(!input.classList.contains('form-control')){
            input.classList.add('form-control', 'form-control-sm');
            input.classList.add('form-control-sm');
        }
        
    });

</script>
{% endblock %}